<a href="https://colab.research.google.com/github/ifeLight/ml-bot/blob/main/binance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install python-binance

In [32]:

from requests import Request, Session
import requests
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json

binance_base_url = 'https://52on3577u3.execute-api.eu-central-1.amazonaws.com'

def get_binance_candles(symbol: str, interval='1h', limit: int = 50, **kwargs):
    url = f'{binance_base_url}/api/v3/uiKlines?symbol={symbol}&interval={interval}&limit={limit}'
    for key, value in kwargs.items():
        url += f'&{key}={value}'
    response = requests.get(url)
    result = json.loads(response.text)
    def map_result(x):
        return {
            'Date': x[0],
            'Open': x[1],
            'High': x[2],
            'Low': x[3],
            'Close': x[4],
            'Volume': x[5],
        }
    mappeded_result = []
    for x in result:
        mappeded_result.append(map_result(x))
    return mappeded_result


def candles_to_df(data):
    df =  pd.DataFrame(data)
    df['Date'] = pd.to_datetime(df['Date'], unit='ms')
    return df

In [33]:
res = get_binance_price('BTCUSDT')
candles_to_df(res)

,Date,Open,High,Low,Close,Volume
0,2025-02-22 22:00:00,96658.57000000,96700.00000000,96603.77000000,96634.06000000,206.03183000
1,2025-02-22 23:00:00,96634.06000000,96658.40000000,96472.22000000,96551.01000000,273.79955000
2,2025-02-23 00:00:00,96551.01000000,96650.00000000,96492.00000000,96643.46000000,317.52544000
3,2025-02-23 01:00:00,96643.47000000,96643.47000000,96355.17000000,96452.83000000,372.84935000
4,2025-02-23 02:00:00,96452.83000000,96500.00000000,96387.24000000,96410.27000000,302.49628000
5,2025-02-23 03:00:00,96410.28000000,96566.04000000,96371.95000000,96414.00000000,333.76565000
6,2025-02-23 04:00:00,96414.00000000,96520.00000000,96377.35000000,96395.88000000,214.54975000
7,2025-02-23 05:00:00,96395.88000000,96406.45000000,96194.65000000,96208.62000000,399.58071000
8,2025-02-23 06:00:00,96208.63000000,96352.95000000,96143.99000000,96342.91000000,280.52995000
9,2025-02-23 07:00:00,96342.92000000,96558.01000000,96298.37000000,96508.85000000,350.86348000
10,2025-02-23 08:00:00,96508.85000000,96508.86000000,96308.00000000,96364.32000000,215.88877000
11,2025-02-23 09:00:00,96364.32000000,96470.59000000,96255.61000000,96286.02000000,332.26349000
12,2025-02-23 10:00:00,96286.02000000,96298.87000000,96083.33000000,96193.88000000,346.00256000
13,2025-02-23 11:00:00,96193.89000000,96245.99000000,96085.70000000,96115.99000000,329.09804000
14,2025-02-23 12:00:00,96115.99000000,96158.50000000,95657.05000000,95732.93000000,768.22512000
15,2025-02-23 13:00:00,95732.94000000,95979.65000000,95721.33000000,95977.96000000,628.74852000
16,2025-02-23 14:00:00,95977.96000000,96049.44000000,95544.00000000,95593.89000000,586.69558000
17,2025-02-23 15:00:00,95593.88000000,95731.73000000,95414.25000000,95436.18000000,769.27792000
18,2025-02-23 16:00:00,95436.19000000,95624.31000000,95420.50000000,95420.50000000,621.06610000
19,2025-02-23 17:00:00,95420.51000000,95750.00000000,95227.94000000,95656.78000000,961.97983000
20,2025-02-23 18:00:00,95656.78000000,95876.00000000,95622.65000000,95740.00000000,745.89738000
21,2025-02-23 19:00:00,95739.99000000,95849.12000000,95702.08000000,95755.99000000,317.09421000
22,2025-02-23 20:00:00,95756.00000000,95811.44000000,95680.00000000,95777.70000000,123.97647000
23,2025-02-23 21:00:00,95777.71000000,95777.71000000,95637.45000000,95755.25000000,218.63363000
24,2025-02-23 22:00:00,95755.25000000,95940.83000000,95522.78000000,95787.13000000,515.65844000
25,2025-02-23 23:00:00,95787.14000000,96332.44000000,95774.60000000,96258.00000000,832.18246000
26,2025-02-24 00:00:00,96258.00000000,96500.00000000,96157.42000000,96247.35000000,788.41339000
27,2025-02-24 01:00:00,96247.36000000,96339.63000000,95763.43000000,95971.24000000,552.50951000
28,2025-02-24 02:00:00,95971.25000000,96200.00000000,95752.68000000,95829.35000000,463.98693000
29,2025-02-24 03:00:00,95829.36000000,95829.36000000,95311.00000000,95433.21000000,836.49275000
30,2025-02-24 04:00:00,95433.21000000,95597.02000000,95078.01000000,95298.00000000,1274.41220000
31,2025-02-24 05:00:00,95298.00000000,95764.99000000,95240.01000000,95727.39000000,692.75876000
32,2025-02-24 06:00:00,95727.39000000,95896.00000000,95609.78000000,95864.31000000,449.42534000
33,2025-02-24 07:00:00,95864.31000000,95945.00000000,95696.00000000,95872.02000000,661.05123000
34,2025-02-24 08:00:00,95872.02000000,95945.00000000,95375.89000000,95509.49000000,891.90784000
35,2025-02-24 09:00:00,95509.50000000,96177.18000000,95499.94000000,95765.76000000,932.58562000
36,2025-02-24 10:00:00,95765.76000000,95915.97000000,95355.00000000,95631.66000000,915.45093000
37,2025-02-24 11:00:00,95631.66000000,95860.00000000,95411.01000000,95821.45000000,544.13545000
38,2025-02-24 12:00:00,95821.45000000,95946.61000000,95679.74000000,95798.46000000,464.81304000
39,2025-02-24 13:00:00,95798.46000000,96095.32000000,95339.35000000,95594.57000000,1215.76059000
40,2025-02-24 14:00:00,95594.57000000,95800.00000000,94578.00000000,94674.44000000,2391.99764000
41,2025-02-24 15:00:00,94674.45000000,94960.00000000,93817.06000000,94323.95000000,3501.03824000
42,2025-02-24 16:00:00,94323.95000000,94980.00000000,94153.72000000,94434.49000000,1938.90205000
43,2025-02-24 17:00:00,94434.48000000,95194.59000000,94328.01000000,94644.00000000,1543.22677000
44,2025-02-24 18:00:00,94644.01000000,94852.59000000,94135.13000000,94161.67000000,855.28907000
45,2025-02-24 19:00:00,94161.66000000,94559.05000000,93666.22000000,93943.51000000,1261.38223000
46,2025-02-24 20:00:00,93943.52000000,94571.43000000,93830.66000000,94020.00000000,1459.16938000
47,2025-02-24 21:00:00,94019.99000000,94349.22000000,93618.00000000,93979.44000000,918.26069000
48,2025-02-24 22:00:00,93979.45000000,93996.00000000,92368.00000000,92432.06000000,3526.47090000
49,2025-02-24 23:00:00,92432.07000000,92871.89000000,92275.03000000,92379.98000000,619.58477000